In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [6]:
data = pd.read_csv(filepath_or_buffer="Datasets/Train.csv")

In [64]:
data

      feature_1  feature_2  feature_3  feature_4  feature_5
0      0.293416  -0.945599  -0.421105   0.406816   0.525662
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2      0.236425   0.132836  -0.147723   0.699854  -0.187364
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077
...         ...        ...        ...        ...        ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149
1596  -0.076099   0.255257   0.290054   1.796036   0.340350
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576

[1600 rows x 5 columns]

In [20]:
y = data.target
data = data.drop("target",1)

In [22]:
model = LinearRegression()

In [23]:
model.fit(data,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
X_test = pd.read_csv("Datasets/Test/Test.csv")

In [29]:
y_pred = model.predict(X_test)

In [47]:
y_out = pd.DataFrame(y_pred)

In [62]:
y_out.to_csv("Datasets/Test/output.csv")

In [63]:
y_out.columns = ["target"]
y_out.index.names = ["Id"]

In [61]:
y_out

         target
Id
0    114.583689
1    118.012815
2    -21.739852
3    -43.936899
4    -95.914898
..          ...
395  -81.989000
396 -186.032535
397  125.292336
398   65.369841
399   57.059691

[400 rows x 1 columns]