In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [35]:
data = pd.read_csv("train.csv")

In [36]:
data = data.drop(["Name","Fare","Embarked","Ticket","Cabin","PassengerId"],axis=1)

In [84]:
le  = LabelEncoder()
data["Sex"] = le.fit_transform(data["Sex"])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [38]:
data

     Survived  Pclass  Sex   Age  SibSp  Parch
0           0       3    1  22.0      1      0
1           1       1    0  38.0      1      0
2           1       3    0  26.0      0      0
3           1       1    0  35.0      1      0
4           0       3    1  35.0      0      0
..        ...     ...  ...   ...    ...    ...
886         0       2    1  27.0      0      0
887         1       1    0  19.0      0      0
888         0       3    0   NaN      1      2
889         1       1    1  26.0      0      0
890         0       3    1  32.0      0      0

[891 rows x 6 columns]

In [93]:
pre = data.dropna()
pre = pre.groupby(["Pclass","Sex","Survived"]).mean()[["Age"]].reset_index()
pre

    Pclass  Sex  Survived        Age
0        1    0         0  25.666667
1        1    0         1  34.939024
2        1    1         0  44.581967
3        1    1         1  36.248000
4        2    0         0  36.000000
5        2    0         1  28.080882
6        2    1         0  33.369048
7        2    1         1  16.022000
8        3    0         0  23.818182
9        3    0         1  19.329787
10       3    1         0  27.255814
11       3    1         1  22.274211

In [94]:
def fill_age(row):
    if row.isna()["Age"]:
        row["Age"] = pre.loc[(pre.Sex == row["Sex"]) & (pre.Pclass == row["Pclass"]) & (pre.Survived == row["Survived"])].Age.mean()
    return row

In [95]:
processed = data.apply(fill_age,axis=1)

In [98]:
processed.to_csv("processed.csv",index=False)