In [2]:
import numpy as np
import pandas as pd

In [34]:
def entropy(sequence):
    value, count = np.unique(sequence,return_counts=True)
    prob = count/np.sum(count)
    return -np.sum(prob*np.log2(prob))

In [36]:
def infogain(X,y,label):
    pivot = X[label].mean()
    left,right = y.loc[X[label]<pivot],y.loc[X[label]>=pivot]
    pl,pr = len(left)/len(X),len(right)/len(X)

    return entropy(y) - pl * entropy(left) - pr * entropy(right)

In [41]:
df = pd.read_csv("processed.csv")

X, y = df.drop(["Survived"], axis=1), df.Survived
df

     Survived  Pclass  Sex        Age  SibSp  Parch
0         0.0     3.0  1.0  22.000000    1.0    0.0
1         1.0     1.0  0.0  38.000000    1.0    0.0
2         1.0     3.0  0.0  26.000000    0.0    0.0
3         1.0     1.0  0.0  35.000000    1.0    0.0
4         0.0     3.0  1.0  35.000000    0.0    0.0
..        ...     ...  ...        ...    ...    ...
886       0.0     2.0  1.0  27.000000    0.0    0.0
887       1.0     1.0  0.0  19.000000    0.0    0.0
888       0.0     3.0  0.0  23.818182    1.0    2.0
889       1.0     1.0  1.0  26.000000    0.0    0.0
890       0.0     3.0  1.0  32.000000    0.0    0.0

[891 rows x 6 columns]

In [43]:
X

     Pclass  Sex        Age  SibSp  Parch
0       3.0  1.0  22.000000    1.0    0.0
1       1.0  0.0  38.000000    1.0    0.0
2       3.0  0.0  26.000000    0.0    0.0
3       1.0  0.0  35.000000    1.0    0.0
4       3.0  1.0  35.000000    0.0    0.0
..      ...  ...        ...    ...    ...
886     2.0  1.0  27.000000    0.0    0.0
887     1.0  0.0  19.000000    0.0    0.0
888     3.0  0.0  23.818182    1.0    2.0
889     1.0  1.0  26.000000    0.0    0.0
890     3.0  1.0  32.000000    0.0    0.0

[891 rows x 5 columns]

In [44]:
y

0      0.0
1      1.0
2      1.0
3      1.0
4      0.0
      ...
886    0.0
887    1.0
888    0.0
889    1.0
890    0.0
Name: Survived, Length: 891, dtype: float64

In [46]:
for col in X.columns:
    print(col,infogain(X,y,col))

Pclass 0.07579362743608165
Sex 0.2176601066606143
Age 0.0008052404301705507
SibSp 0.009584541813400127
Parch 0.015380754493137666